# Personal Access Token GitHub (scope: repo)
GITHUB_TOKEN=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

# Akun/organisasi pemilik repo
GITHUB_OWNER=zechobot

# Nama repo yang dipakai sebagai "database" (buat repo kosong baru, boleh private)
GITHUB_REPO=tourl-data

# Branch yang dipakai (default: main)
GITHUB_BRANCH=main

# Domain tempat app ini dideploy (dipakai untuk menyusun short link), contoh: https://tourl-kamu.vercel.app
NEXT_PUBLIC_BASE_URL=https://tourl-zech.vervel.app
